{% extends 'base.html' %}

{% block title %}New dive{% endblock %}

{% block content %}
    <header><h2>Create new dive</h2></header>
    <div>
        Specify gases like &lsquo;Air&rsquo;, &lsquo;Nx32&rsquo;, or &lsquo;Tx21/35&rsquo;.
        Use &lsquo;Nx99&rsquo; for O<sub>2</sub>.
    </div>
    <div class="new_dive">
    <form method="post" action="{{url_for('dive.new_do')}}">
        <div class="dive_steps">
            <div id="div_depth_times" class="depth_times" style="display:inline;">
            </div>
            <div style="display:inline;">
            <input id="btnadd" type="button" onclick="add_depth_time();" value="Add section">
            </div>
        </div>
        <div>
        <label for="ipt_deco_gas">Additional gases (eg. &lsquo;Nx99, Nx50&rsquo;):</label>
        <input type="text" id="ipt_deco_gas" name="deco_gas">
        </div>
        <script>
        	/* Adding inputs */
            cnt = -1;
            function add_depth_time()
            {
                cnt += 1;
                var newdiv = document.createElement("span");
                newdiv.innerHTML =  '<br/>At <input type="text" name="depth['+cnt+']" id="depth['+cnt+']" onchange="check_all()">';
                newdiv.innerHTML += ' m for <input type="text" name="time['+cnt+']" id="time['+cnt+']" onchange="check_all()"> mins';
                newdiv.innerHTML += ' on <input type="text" name="gas['+cnt+']" id="gas['+cnt+']" value="Air" onchange="check_all()">.';
                newdiv.class = 'depth_times_inputs';
                document.getElementById('div_depth_times').appendChild(newdiv);

                if (cnt > 9) document.getElementById('btnadd').style.display = 'none';
                check_all();
            }

            /* Checking inputs */
            function check_input_nr(s, minval, maxval, emptyok)
            {
				var v = s.trim();
				if (v == '' && emptyok) return true;
				var vn = Number(v);
				return v == String(vn) && v >= minval && v <= maxval;
            }
            function check_gas(s, emptyok)
            {
            	var regex = RegExp(/^(air|nx[0-9][0-9]|tx[0-9][0-9]\/[0-9][0-9])$/i);
            	var v = s.trim();
            	return regex.test(v) ||
            	        ( v == '' && emptyok );
            }
            function check_extra_gases(s)
            {
                var ss = s.split(',');
                var ok = true;
                for(i = 0; i < ss.length; i++)
                    ok = ok && check_gas(ss[i], true);
                return ok;
            }

            function check_and_mark(elt, ok)
            {
            	elt.className = ( ok ? 'valid' : 'invalid');
            	return ok;
            }
            function check_all()
            {
            	var ok = true;
				/* The list */
				for(i=0;i<=cnt;i++)
				{
					var d = document.getElementById('depth['+i+']');
					var t = document.getElementById('time['+i+']');
					var g = document.getElementById('gas['+i+']');
					var ok2 = check_and_mark(d, check_input_nr( d.value, 0, 200, i != 0 ) );
					var ok3 = check_and_mark(t, check_input_nr( t.value, 1, 200, i != 0 ) );
					var ok4 = check_and_mark(g, check_gas(g.value, false) );
					ok = ok && ok2 && ok3 && ok4;
				}
				/* The extra gases */
				eg = document.getElementById('ipt_deco_gas');
                var ok5 = check_and_mark( eg, check_extra_gases( eg.value ) );
                ok = ok && ok5;
				return ok;
            }

            /* On load: */
            add_depth_time();
            check_all();
        </script>
        <div>
		<!--<input type="button" id="btncheck" value="Check inputs" onclick="return check_all();">-->
        <input type="submit" id="btnsubmit" value="Create!" onclick="return check_all();">
        </div>
    </form>
    </div>

    <header><h2>Upload CSV file</h2></header>
    <div class="new_by_upload">
    <div>Upload CSV file from a Shearwater dive computer, or one exported from here.
        Only time, depth, and gas are used; all other data (like tissue loading) is recomputed.
    </div>
    <form method="post" action="{{url_for('dive.new_shearwater_csv')}}" enctype="multipart/form-data">
        Shearwater CSV:
        <input type="file" id="ipt_sw_csv" name="ipt_csv" onchange="document.getElementById('submit_sw_csv').disabled = (document.getElementById('ipt_sw_csv').files.length == 0) ">
        <input type="submit" id="submit_sw_csv" value="Go :)" disabled="true" onclick="if(document.getElementById('ipt_sw_csv').files.length == 0) { return false; }">
    </form>
    <form method="post" action="{{url_for('dive.new_octodeco_csv')}}" enctype="multipart/form-data">
        Octo-Deco CSV:
        <input type="file" id="ipt_od_csv" name="ipt_csv"  onchange="document.getElementById('submit_od_csv').disabled = (document.getElementById('ipt_od_csv').files.length == 0) ">
        <input type="submit" id="submit_od_csv" value="Go :)" disabled="true" onclick="if(document.getElementById('ipt_od_csv').files.length == 0) { return false; }">
    </form>
    </div>


    <header><h2>..or just recreate the demo dive:</h2></header>
    <form method="post" action="{{url_for('dive.new_demo')}}">
        <input type="submit" value="Yes please do that for me!">
    </form>
{% endblock %}

