{% extends 'base.html' %}

{% block extrascripts %}
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
        <script>window.Plotly || document.write('<script src="{{ url_for('static', filename='js/fallback/plotly-latest.min.js') }}"><\/script>');</script>
        <script>window.d3 || document.write('<script src="{{ url_for('static', filename='js/fallback/d3.min.js') }}"><\/script>');</script>
{% endblock %}

{% block title %}{{dive.description()}}{% endblock %}

{% block sidebarheader %}
    <div class="diveselect">
        <form method="get" action="{{url_for('dive.show_get')}}">
        <label for="dives" style="display:none">Display:</label>
        <select id="dives" name="dive_id" onchange="this.form.submit()">
            <option disabled>{{dive.description()}}</option>
            <option style="font-size: 1pt; background-color: #000000;" disabled>&nbsp;</option>
            {% for x in alldives %}
              <option value="{{x['dive_id']}}"{%
              if x['dive_id'] == dive.dive_id %} selected {% endif
              %}>{{x['dive_desc']}}</option>{% endfor %}
        </select>
        </form>
    </div>
{% endblock %}


{% block sidebaritems %}
    <li><span class="fa fa-plus-circle"></span><a href="{{url_for('dive.new_show')}}">New dive..</a></li>
    <li><span class="fa fa-chevron-circle-right"></span><a href="#chart_diveprofile">Dive profile</a></li>
    <li><span class="fa fa-chevron-circle-right"></span><a href="#hdivesummary">Summary</a></li>
    <li><span class="fa fa-bar-chart-o"></span><a href="#hheatmap">Heatmap</a></li>
    <li><span class="fa fa-bar-chart-o"></span><a href="#hpressuregraph">Pressure graph</a></li>
    <li><span class="fa fa-table"></span><a href="#hgfdeco">GFs vs Decotime</a></li>
    <li><span class="fa fa-download"></span><a href="#hfulldata">Full dive data</a></li>
    {% if modify_allowed %}
    <li><span class="fa fa-gear"></span><a href="#hmodifydive">Modify</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <script>
    /*
     * Utility functions
     */
    function get_args_url_params() {
        r =  $('#form_update').serialize();
        if (r == undefined || r == '')
        {
            r = $.param({gflow:{{dive.gf_low_display}}, gfhigh:{{dive.gf_high_display}}})
        }
        return r;
    }
    ANIMATION_SPEED = 'fast';

    /*
     * Showing/hiding the placeholders
     */
    function spin_elt(idstr, set_spinning)
    {
        if(set_spinning) { $(idstr).hide(); $(idstr + '_plh').show(); }
        else             { $(idstr).show(); $(idstr + '_plh').hide(); }
    }
    function spin_plot_diveprofile(set_spinning) { spin_elt('#chart_diveprofile', set_spinning); }

    /*
     * Functions to retrieve the page elements
     */
    function load_plot_diveprofile(after_loading)
    {
        spin_elt('#chart_diveprofile', true);
        $.getJSON({
        url: "{{url_for('dive.show_elt_plot_profile', dive_id=dive.dive_id)}}?" + get_args_url_params(),
        success: function(result) {
            spin_elt('#chart_diveprofile', false);
            Plotly.react('chart_diveprofile',JSON.parse(result),{});
            after_loading();
        }
        });
    }

    function load_summary_table()
    {
        spin_elt( '#table_summary', true );
        $.ajax({
        url: "{{url_for('dive.show_elt_summary_table', dive_id=dive.dive_id)}}?" + get_args_url_params(),
        success: function(result) {
            $('#table_summary').html(result);
            spin_elt( '#table_summary', false );
        }
        });
    }

    var plot_heatmap_loaded = false;
    function load_plot_heatmap()
    {
        spin_elt( '#chart_heatmap', true );
        $.getJSON({
        url: "{{url_for('dive.show_elt_plot_heatmap', dive_id=dive.dive_id)}}",
        success: function(result) {
            spin_elt( '#chart_heatmap', false );
            Plotly.react('chart_heatmap',JSON.parse(result),{});
            plot_heatmap_loaded = true;
        }
        });
    }
    function unload_plot_heatmap()
    {
        plot_heatmap_loaded = false;
    }

    var full_table_loaded=false;
    function load_full_table()
    {
        spin_elt( '#table_full', true );
        $.ajax({
        url: "{{url_for('dive.show_elt_full_table', dive_id=dive.dive_id)}}?" + get_args_url_params(),
        success: function(result) {
            $('#table_full').html(result);
            spin_elt( '#table_full', false );
            full_table_loaded = true;
        }
        });
    }
    function unload_full_table()
    {
        full_table_loaded=false;
    }

    var gfdeco_table_loaded=false;
    function load_gfdeco_table()
    {
        spin_elt( '#table_gfdeco', true );
        $.ajax({
        url: "{{url_for('dive.show_elt_gfdeco_table', dive_id=dive.dive_id)}}",
        success: function(result) {
            $('#table_gfdeco').html(result);
            spin_elt( '#table_gfdeco', false );
            gfdeco_table_loaded = true;
        }
        });
    }

    var pressure_graph_loaded = false;
    function load_pressure_graph()
    {
        spin_elt( '#chart_pressure_graph', true );
        $.getJSON({
        url: "{{url_for('dive.show_elt_pressure_graph', dive_id=dive.dive_id)}}?" + get_args_url_params(),
        success: function(result) {
            spin_elt( '#chart_pressure_graph', false );
            Plotly.react('chart_pressure_graph',JSON.parse(result),{});
            pressure_graph_loaded = true;
        }
        });
    }
    function unload_pressure_graph()
    {
        pressure_graph_loaded = false;
    }


    /*
     * Showing / hiding page elements
     */
    function toggle_elt(idstr, on_show_fn)
    {
        var was_vis = $(idstr).is(':visible');
        if (was_vis) { $(idstr).hide(ANIMATION_SPEED); }
        else         { $(idstr).show(ANIMATION_SPEED, on_show_fn); }
        $(idstr + '_toggle').html(( was_vis ? '[show]' : '[hide]'));
    }
    function toggle_div_heatmap() {
        toggle_elt('#heatmap', function() { if (!plot_heatmap_loaded) load_plot_heatmap(); } );
    }
    function toggle_div_table_full() {
        toggle_elt('#table_full', function() { if (!full_table_loaded) load_full_table(); } );
    }
    function toggle_div_table_gfdeco() {
        toggle_elt('#table_gfdeco', function() { if (!gfdeco_table_loaded) load_gfdeco_table(); } );
    }
    function toggle_div_pressure_graph() {
        toggle_elt('#pressure_graph', function() { if (!pressure_graph_loaded) load_pressure_graph(); } );
    }
    function toggle_div_modify_dive() {
        toggle_elt('#modify_dive', function() {} );
    }

    /*
     * Sliders, spans in sync
     */
    function set_gf_text_from_sliders()
    {
        $('#show_gflow').text($('#ipt_gflow').val());
        $('#show_gfhigh').text($('#ipt_gfhigh').val());
    }
    function set_gf_sliders_from_text()
    {
        $('#ipt_gflow').val($('#show_gflow').text());
        $('#ipt_gfhigh').val($('#show_gfhigh').text());
    }
    function urlParam(name, defaultval) {
        var results = new RegExp('[\?&]' + name + '=([^&#]*)')
                          .exec(window.location.search);
        return (results !== null) ? results[1] || 0 : defaultval;
    }
    function set_gf_to_defaults()
    {
        default_gf_low = urlParam('gflow', {{dive.gf_low_profile}});
        default_gf_high = urlParam('gfhigh', {{dive.gf_high_profile}});
        $('#show_gflow').text(default_gf_low);
        $('#ipt_gflow').val(default_gf_low);
        $('#show_gfhigh').text(default_gf_high);
        $('#ipt_gfhigh').val(default_gf_high);
    }


    /*
     * On change of the sliders
     */
    function reload_all()
    {
        var is_table_full_vis = $('#table_full').is(':visible');
        var is_pressure_graph_vis = $('#chart_pressure_graph').is(':visible');
        // We load the diveprofile first, then the rest to benefit from caching (esp. with multiple workers present)
        spin_elt('#chart_diveprofile', true);
        spin_elt('#table_summary', true );
        if (is_table_full_vis) spin_elt('#table_full', true );
        if (is_pressure_graph_vis) spin_elt('#chart_pressure_graph', true );
        load_plot_diveprofile(function(){
            load_summary_table();
            if (is_table_full_vis) load_full_table(); else unload_full_table();
            if (is_pressure_graph_vis) load_pressure_graph(); else unload_pressure_graph();
        });
        // heatmap does not need to be redrawn, it's only dependent on profile, not on display GF
    }

    /*
     * changeable gf ipts
     */
    $(function () {
        $("span.changeable").each(function () {
            var label = $(this);
            label.after("<input type='text' style='display:none' class='changeable'/>");
            var input_text = label.next();
            input_text[0].name = label[0].id.replace("show_", "ipttxt_");
            // Click = show
            label.click(function () {
                $(this).next().val($(this).html());
                $(this).hide();
                $(this).next().show();
                $(this).next().focus();
                $(this).next().select();
            });
            //Focus lost = hide
            input_text.focusout(function () {
                $(this).hide();
                $(this).prev().html($(this).val());
                $(this).prev().show();
                set_gf_sliders_from_text();
                reload_all();
            });
        });
    });

    /*
     * On document ready
     */
    $(function(){
        set_gf_to_defaults();
        reload_all();
    });
    </script>

    <!--
      Diveprofile chart
    -->
    <div class="chart" id="chart_diveprofile" style="display:none;">
    </div>
    <div class="chart placeholder" id="chart_diveprofile_plh" style="display:block;">
        <img src="{{url_for('static',filename='images/spinner-grey-211px.gif')}}" alt="spinner">
    </div>

    <!--
      GF update sliders
    -->
    <form method="post" id="form_update" action="{{url_for('dive.update', dive_id=dive.dive_id)}}">
        <!-- Don't want Enter to submit the form -->
        <button type="submit" disabled style="display: none" aria-hidden="true"></button>
        <div class="adjust">
            <datalist id="tickmarks">
              <option value="0" label="0"></option>
              <option value="10"></option>
              <option value="20"></option>
              <option value="30"></option>
              <option value="40"></option>
              <option value="50" label="50"></option>
              <option value="60"></option>
              <option value="70"></option>
              <option value="80"></option>
              <option value="90"></option>
              <option value="100" label="99"></option>
            </datalist>
            <!-- RESET -->
            <a href="#" onclick="set_gf_to_defaults();reload_all();return false;">[reset]</a>
            <!-- SLIDERS -->
            GF
            <label for="ipt_gflow">low</label>
            <input type="range" min=5 max=100 step=5 class="slider" list="tickmarks"
                   id="ipt_gflow" name="gflow"
                   onmousemove="set_gf_text_from_sliders();"
                   onchange="set_gf_text_from_sliders();reload_all();"/>
            /
            <label for="ipt_gfhigh">high</label>
            <input type="range" min=5 max=100 step=5 class="slider" list="tickmarks"
                   id="ipt_gfhigh" name="gfhigh"
                   onmousemove="set_gf_text_from_sliders();"
                   onchange="set_gf_text_from_sliders();reload_all();"/>
            = GF
            <span id="show_gflow" class="changeable">hello</span>
            /
            <span id="show_gfhigh" class="changeable">world</span>
        </div>
        {% if modify_allowed %}
        <div>
            <input type="submit" name="action" value="Update Stops">
        </div>
        {% endif %}
    </form>

    <!--
      Dive summary
    -->
    <h2 id="hdivesummary">Summary</h2>
    <div id="table_summary" style="display:none;">
    </div>
    <div class="placeholder" id="table_summary_plh" style="display:block;">
        <img src="{{url_for('static',filename='images/spinner-grey-211px.gif')}}" alt="spinner">
    </div>

    <h2>Graphs</h2>

    <!--
      Heatmap
    -->
    <h3 id="hheatmap">Tissue heatmap<span class="viztoggle" id="heatmap_toggle" onclick="toggle_div_heatmap()">[show]</span></h3>

    <div id="heatmap" style="display: none">
        <p>Displays (scaled) compartment pressure (actually: GF99)</p>
        <div class="chart" id="chart_heatmap" style="display:none;">
        </div>
        <div class="chart placeholder" id="chart_heatmap_plh" style="display:block;">
            <img src="{{url_for('static',filename='images/spinner-grey-211px.gif')}}" alt="spinner">
        </div>
    </div>

    <!--
      Pressure graph
    -->
    <h3 id="hpressuregraph">Pressure graph<span class="viztoggle" id="pressure_graph_toggle"
                                                onclick="toggle_div_pressure_graph()">[show]</span></h3>

    <div id="pressure_graph" style="display: none">
        <div class="chart" id="chart_pressure_graph" style="display:none;">
        </div>
        <div class="chart placeholder" id="chart_pressure_graph_plh" style="display:block;">
            <img src="{{url_for('static',filename='images/spinner-grey-211px.gif')}}" alt="spinner">
        </div>
    </div>

    <h2>Data</h2>

    <!--
      GF-Decotime-Table
    -->
    <h3 id="hgfdeco">GFs vs Decotime<span class="viztoggle" id="table_gfdeco_toggle"
                                          onclick="toggle_div_table_gfdeco()">[show]</span></h3>

    <div id="table_gfdeco" style="display: none">
    </div>
    <div id="table_gfdeco_plh" class="placeholder" style="display: none">
        <img src="{{url_for('static',filename='images/spinner-grey-211px.gif')}}" alt="spinner">
    </div>

    <!--
      Full data table
    -->
    <h3 id="hfulldata">Full dive data
        <span class="viztoggle" id="table_full_toggle" onclick="toggle_div_table_full()">[show]</span>
        <span class="viztoggle"><a href="{{url_for('dive.csv',dive_id=dive.dive_id)}}">[csv]</a></span>
    </h3>
    <div id="table_full" class="bigtable" style="display: none">
    </div>
    <div id="table_full_plh" class="bigtable placeholder" style="display: none">
        <img src="{{url_for('static',filename='images/spinner-grey-211px.gif')}}" alt="spinner">
    </div>


    <!--
      Modify block
    -->
    {% if modify_allowed %}
    <h2 id="hmodifydive">Modify dive
    <span class="viztoggle" id="modify_dive_toggle" onclick="toggle_div_modify_dive()">[show]</span>
    </h2>
    <div id="modify_dive" class="modifydive" style="display:none">
    <h3>Properties</h3>
    <form method="post" action="{{url_for('dive.modify_meta',dive_id=dive.dive_id)}}">
        <label for="ipt_surface_section">Add surface section to end of dive:</label>
        <input type="text" value="{{dive.length_of_surface_section()}}" name="ipt_surface_section" id="ipt_surface_section">
        <br/>
        <label for="ipt_description">Modify description:</label>
        <input type="text" value="{{dive.description()}}" name="ipt_description" id="ipt_description">
        <br/>
        <label for="ipt_public">Public:</label>
        <input type="checkbox" {% if dive.is_public %}checked{%endif%} name="ipt_public" id="ipt_public">
        <br/>
        <label for="action_update"></label>
        <input type="submit" name="action_update" id="action_update" value="Update">
    </form>
    <h3>Settings</h3>
    <form method="post" action="{{url_for('dive.modify_settings',dive_id=dive.dive_id)}}">
        <label for="ipt_last_stop_depth">Last stop depth:</label>
        <input type="text" value="{{dive._last_stop_depth}}" name="ipt_last_stop_depth" id="ipt_last_stop_depth">
        <br/>
        <label for="action_update_settings"></label>
        <input type="submit" name="action_update_settings" id="action_update_settings" value="Update">
    </form>
    <h3>Delete</h3>
    <form method="post" action="{{url_for('dive.delete',dive_id=dive.dive_id)}}">
        <label for="subm_delete">Delete:</label>
        <input type="submit" name="action_delete" id="subm_delete" value="Delete this dive" onclick="return confirm('Sure?');">
    </form>
    </div>
    {% endif %}
{% endblock %}

