{% extends 'base.html' %}

{% block extrascripts %}
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
{% endblock %}

{% block title %}Dive{% endblock %}

{% block sidebarheader %}
    <div class="diveselect">
        <form method="get" action="{{url_for('dive.show_get')}}">
        <label for="dives" style="display:none">Display:</label>
        <select id="dives" name="dive_id" onchange="this.form.submit()">{%
            for x in alldives %}
              <option value="{{x['dive_id']}}"{%
              if x['dive_id'] == dive.dive_id %} selected {% endif
              %}>{{x['dive_desc']}}</option>{% endfor %}
        </select>
        </form>
    </div>
{% endblock %}


{% block sidebaritems %}
    <li><span class="fa fa-play"></span><a href="{{url_for('dive.new_show')}}">New dive..</a></li>
    <li><span class="fa fa-chevron-circle-right"></span><a href="#diveprofile">Dive profile</a></li>
    <li><span class="fa fa-chevron-circle-right"></span><a href="#divesummary">Dive summary</a></li>
    <li><span class="fa fa-chevron-circle-right"></span><a href="#aheatmap">Heatmap</a></li>
    <li><span class="fa fa-chevron-circle-right"></span><a href="#afulldata">Full dive data</a></li>
    {% if modify_allowed %}
    <li><span class="fa fa-chevron-circle-right"></span><a href="#amodifydive">Modify</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <script>
    function get_gf_url_params() {
        r =  $('#form_update').serialize();
        if (r == undefined || r == '')
        {
            r = $.param({gflow:{{dive.gf_low_display}}, gfhigh:{{dive.gf_high_display}}})
        }
        return r;
    }
    </script>

    <a name="diveprofile"></a>
    <div class="chart" id="chart_diveprofile" style="display:none;">
    </div>
    <div class="chart placeholder" id="chart_diveprofile_plh" style="display:block;">
        <img src="{{url_for('static',filename='images/spinner-grey-211px.gif')}}">
    </div>
    <script>
      // Fetch the diveprofile plot
      function load_plot_diveprofile()
      {
          $('#chart_diveprofile').hide();
          $('#chart_diveprofile_plh').show();
          $.getJSON({
            url: "{{url_for('dive.show_elt_plot_profile', dive_id=dive.dive_id)}}?" + get_gf_url_params(),
            success: function(result) {
                $('#chart_diveprofile').show();
                $('#chart_diveprofile_plh').hide();
                Plotly.newPlot('chart_diveprofile',JSON.parse(result),{});
            }
          });
      }
      $( document ).ready(load_plot_diveprofile());
    </script>

    <form method="POST" id="form_update" action="{{url_for('dive.update', dive_id=dive.dive_id)}}">
        <script>
        function autosubmitGF()
        {
            load_plot_diveprofile();
            load_summary_table();
            if ($('#table_full').is(':visible')) load_full_table(); else unload_full_table();
            // heatmap does not need to be redrawn, it's only dependent on profile, not on display GF
        }
        </script>
        <div class="adjust">
            <datalist id="tickmarks">
              <option value="0" label="0"></option>
              <option value="10"></option>
              <option value="20"></option>
              <option value="30"></option>
              <option value="40"></option>
              <option value="50" label="50"></option>
              <option value="60"></option>
              <option value="70"></option>
              <option value="80"></option>
              <option value="90"></option>
              <option value="100" label="99"></option>
            </datalist>
            <!-- RESET -->
            <a href="#" onclick="
                document.getElementById('show_gfhigh').innerHTML
                    = document.getElementById('ipt_gfhigh').value
                    = {{dive.gf_high_profile}};
                document.getElementById('show_gflow').innerHTML
                    = document.getElementById('ipt_gflow').value
                    = {{dive.gf_low_profile}};
                autosubmitGF();
                return false;">[reset]</a>
            <!-- SLIDERS -->
            GF
            <label for="ipt_gflow">low</label>
            <input type="range" min=0 max=100 value={{dive.gf_low_display}} class="slider" list="tickmarks"
                   id="ipt_gflow" name="gflow"
                   onmousemove="document.getElementById('show_gflow').innerHTML=this.value;"
                   onchange="autosubmitGF();"/>

            /
            <label for="ipt_gfhigh">high</label>
            <input type="range" min=0 max=100 value={{dive.gf_high_display}} class="slider" list="tickmarks"
                   id="ipt_gfhigh" name="gfhigh"
                   onmousemove="document.getElementById('show_gfhigh').innerHTML=this.value;"
                   onchange="autosubmitGF();"/>
            = GF <span id="show_gflow">{{dive.gf_low_display}}</span> / <span id="show_gfhigh">{{dive.gf_high_display}}</span>
            <img id="spinner" style="display:none"
                 src="{{ url_for('static', filename='images/spinner-51px.gif') }}">
        </div>
        {% if modify_allowed %}
        <div>
            <input type="submit" name="action" value="Update Stops">
        </div>
        {% endif %}
    </form>

    <a name="divesummary"></a>
    <h2>Dive summary</h2>
    <div id="table_summary" style="display:none;">
    </div>
    <div class="placeholder" id="table_summary_plh" style="display:block;">
        <img src="{{url_for('static',filename='images/spinner-grey-211px.gif')}}">
    </div>
    <script>
      function load_summary_table()
      {
          $('#table_summary').hide();
          $('#table_summary_plh').show();
          $.ajax({
            url: "{{url_for('dive.show_elt_summary_table', dive_id=dive.dive_id)}}?" + get_gf_url_params(),
            success: function(result) {
                $('#table_summary').html(result);
                $('#table_summary').show();
                $('#table_summary_plh').hide();
            }
          });
      }
      $( document ).ready(load_summary_table());
    </script>



    <script>
        var plot_heatmap_loaded = false;
        function load_plot_heatmap()
        {
          $('#chart_heatmap').hide();
          $('#chart_heatmap_plh').show();
          $.getJSON({
            url: "{{url_for('dive.show_elt_plot_heatmap', dive_id=dive.dive_id)}}",
            success: function(result) {
                $('#chart_heatmap').show();
                $('#chart_heatmap_plh').hide();
                Plotly.newPlot('chart_heatmap',JSON.parse(result),{});
                plot_heatmap_loaded = true;
            }
          });
        }
        function unload_plot_heatmap()
        {
            plot_heatmap_loaded = false;
        }
        function toggleHeatmap(toggle_elt)
        {
            var elt = document.getElementById("heatmap");
            if ( elt.style.display == "block" )
            {
                elt.style.display="none";
                toggle_elt.innerHTML = "[show]";
            }
            else
            {
                elt.style.display="block";
                toggle_elt.innerHTML = "[hide]";
                if (!plot_heatmap_loaded) load_plot_heatmap();
            }
        }
    </script>
    <a name="aheatmap"></a>
    <h2>Tissue heatmap<div class="viztoggle" onclick="toggleHeatmap(this)">[show]</div></h2>

    <div id="heatmap" style="display: none">
        <p>Displays (scaled) compartment pressure (actually: GF99)</p>
        <div class="chart" id="chart_heatmap" style="display:none;">
        </div>
        <div class="chart placeholder" id="chart_heatmap_plh" style="display:block;">
            <img src="{{url_for('static',filename='images/spinner-grey-211px.gif')}}">
        </div>
    </div>


    <script>
        var full_table_loaded=false;
        function load_full_table()
        {
          $('#table_full').hide();
          $('#table_full_plh').show();
          $.ajax({
            url: "{{url_for('dive.show_elt_full_table', dive_id=dive.dive_id)}}?" + get_gf_url_params(),
            success: function(result) {
                $('#table_full').html(result);
                $('#table_full').show();
                $('#table_full_plh').hide();
                full_table_loaded = true;
            }
          });
        }
        function unload_full_table()
        {
            full_table_loaded=false;
        }
        function toggledivfulldata(toggle_elt)
        {
            var elt = document.getElementById('table_full');
            if ( elt.style.display == "block" )
            {
                elt.style.display="none";
                toggle_elt.innerHTML = "[show]";
            }
            else
            {
                elt.style.display="block";
                toggle_elt.innerHTML = "[hide]";
                if (!full_table_loaded) load_full_table();
            }
        }
    </script>
    <a name="afulldata"></a>
    <h2>Full dive data
        <div class="viztoggle" onclick="toggledivfulldata(this)">[show]</div>
        <div class="viztoggle"><a href="{{url_for('dive.csv',dive_id=dive.dive_id)}}">[csv]</a></div>
    </h2>
    <div id="table_full" class="bigtable" style="display: none">
    </div>
    <div id="table_full_plh" class="bigtable placeholder" style="display: none">
        <img src="{{url_for('static',filename='images/spinner-grey-211px.gif')}}">
    </div>

    {% if modify_allowed %}
    <a name="amodifydive"></a>
    <script>
        function toggledivmodify(toggle_elt)
        {
            var elt = document.getElementById('modifydive');
            if ( elt.style.display == "block" )
            {
                elt.style.display="none";
                toggle_elt.innerHTML = "[show]";
            }
            else
            {
                elt.style.display="block";
                toggle_elt.innerHTML = "[hide]";
            }
        }
    </script>
    <h2>Modify dive
    <div class="viztoggle" onclick="toggledivmodify(this)">[show]</div>
    </h2>
    <div id="modifydive" class="modifydive" style="display:none">
    <form method="POST" action="{{url_for('dive.modify',dive_id=dive.dive_id)}}">
        <label for="ipt_surface_section">Add surface section to end of dive:</label>
        <input type="text" value="{{dive.length_of_surface_section()}}" name="ipt_surface_section" id="ipt_surface_section">
        <br/>
        <label for="ipt_description">Modify description:</label>
        <input type="text" value="{{dive.description()}}" name="ipt_description" id="ipt_description">
        <br/>
        <label for="ipt_public">Public:</label>
        <input type="checkbox" {% if dive.is_public %}checked{%endif%} name="ipt_public" id="ipt_public">
        <br/>
        <label for="action_update"></label>
        <input type="submit" name="action_update" id="action_update" value="Update">
    </form>
    <form method="DELETE" action="{{url_for('dive.delete',dive_id=dive.dive_id)}}">
        <label for="subm_delete">Delete:</label>
        <input type="submit" name="action_delete" id="subm_delete" value="Delete this dive" onclick="return confirm('Sure?');">
    </form>
    </div>
    {% endif %}
{% endblock %}

