{% extends 'base.html' %}

{% block title %}User info{% endblock %}

{% block sidebaritems %}
{% endblock %}

{% block content %}
    <header><h2>User info</h2></header>
    <p>session_id: {{ session['session_id'] }} </p>
    <p>user details: {{ g.user_details }} </p>

    <h2>Sessions</h2>
    <ul>
        {% for sid in allsessions %}
        <li>{{ sid }}</li>
        {% endfor %}
    </ul>

    <h2>Dives</h2>
    <ul>
        {% for row in diveinfos %}
        <li>
            {{ row['dive_id'] }} :
            <a href="{{url_for('dive.show', dive_id=row['dive_id'])}}">{{ row['dive_desc'] }}</a>
            {% if row['is_public'] %}(Public){% endif %}
        </li>
        {% endfor %}
    </ul>
{% endblock %}
