{% extends 'base.html' %}

{% block title %}User info{% endblock %}

{% block sidebaritems %}
{% endblock %}

{% block content %}
    <header><h2>User info</h2></header>
    <p>session_id: {{ session['session_id'] }} </p>
    <p>user details: {{ g.user_details }} </p>
    <p>env: {# request.environ #}</p>

    <form method="post" action="{{url_for('user.update')}}">
        <input type="submit" name="action" value="Destroy session" onclick="return confirm('Sure?');">
        <input type="submit" name="action" value="Destroy entire profile" onclick="return confirm('Sure? You will lose stuff!');">
    </form>

    <h2>Sessions</h2>
    <ul>
        {% for sid in allsessions %}
        <li>{{ sid }}</li>
        {% endfor %}
    </ul>

    <h2>Dives</h2>
    <ul>
        {% for row in diveinfos %}
        <li>{{ row['dive_id'] }} : {{ row['dive_desc'] }}</li>
        {% endfor %}
    </ul>
{% endblock %}
