{% extends 'base.html' %}

{% block title %}Admin info{% endblock %}

{% block content %}
    <header><h2>Admin</h2></header>
    <ul>
        <li><span class="fa fa-chevron-circle-right"></span>
        <form method="post" action="{{url_for('admin.migrate_all')}}" style="display:inline">
            <input type="submit" name="action_migrate_all" id="action_migrate_all"
                   value="Migrate all" onclick="return confirm('Sure?');">
            (Pro-tip: backup first)
        </form>
        </li>
    </ul>
{% endblock %}
